*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #13062f;
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.156);
    height: 50%;
    width: 20%;
    padding: 10px;
}

input{
    border: none;
    font-size: 17px;
    height: 35px;
    text-align: center;
    border-radius: 25px;
    background-image: linear-gradient(45deg, rgb(148 214 232), rgb(19 6 47));
}

.enter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    height: 30px;
    width: 25%;
    background-image: linear-gradient(45deg, rgb(148 214 232), rgb(19 6 47));
}

@media only screen and (max-width : 500px) {
    body {
        /* background-color: #13062f; */
        background-image: url("assets/Background.png");
        /* background-repeat: no-repeat; */
        background-size: 200vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
    
    }
    .container{
        display: flex;
        gap: 10px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.156);
        height: 50%;
        width: 75%;
        padding: 10px;
    }
    
    input{
        border: none;
        font-size: 17px;
        height: 35px;
        text-align: center;
        border-radius: 25px;
        background-image: linear-gradient(45deg, rgb(148 214 232), rgb(19 6 47));
    }
    
    .enter{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        border-radius: 25px;
        font-size: 15px;
        height: 30px;
        width: 25%;
        background-image: linear-gradient(45deg, rgb(148 214 232), rgb(19 6 47));
    }
}
